
body{
   margin-left: 1px;
   margin-right: 1px;
   padding: 0px;
   height: 400px;
   width: 350px;
   /* border-radius: 5px; */
   /* background-image: linear-gradient(LightSteelBlue,white); */
}

h5{
   font-family: 'Roboto', sans-serif;
}

h6{
   font-weight: normal; 
}

.wrapper{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 5px;
   margin-right: 5px;
}

.sync{
   padding-top: 10px;
   border-top: solid lightgray 1px;
}

.material-icons{
   color: green;
}

.heading{
   text-align: left;
   border: solid lightgray 1px;
   padding: 5px;
   background:rgb(75, 99, 240);
   color: white;
   box-shadow: 0px 3px 5px rgba(89, 97, 104, 0.438);
}
.semester{
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   font-size: 13.5px;
}

.btn{
   padding: 5px 20px;
   border: none;
   color: white;
   border-radius: 20px;
   box-shadow: -3px 3px 5px rgba(89, 97, 104, 0.438);
   margin-bottom: 10px;
   background: rgb(75, 99, 240);
}

p{
   font-family: 'Roboto', sans-serif;
}

.welcome{
   text-align: left;
   border-bottom: solid lightgray 1px;
   padding-bottom: 5px;
}

.disabled{
   background: gray;
}

.syncBtn{
   border-radius: 5px;
   width: 100%;
}
.btn:hover{
   color: white;
   background: rgb(41, 70, 236);
}
/* button{
   padding: 5px;
   margin: 0px;
   background-color: cornflowerblue;
} */